*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home{
  width: 100%;
  background-color: red;
  height: 100vh;
}
.about{
  width: 100%;
  background-color: purple;
  height: 100vh;
}
.contact{
  width: 100%;
  background-color: green;
  height: 100vh;
}
.navigation{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}